@import "./fonts";

$fg-main: #b2b5ba;
$bg-main: rgb(1, 10, 25);
$header-color: #525454;
$red-accent: #fa1437;
$red-accent-dark: #c1112c;
$link-orange: #ffbe4c;
$link-lightblue: #77eeee;
$link-blue: #8dabff;
$link-green: #5aff8b;
$font-roboto: Roboto, Helvetica, Arial, sans-serif;
$font-roboto-condensed: RobotoCondensed, Helvetica, Arial, sans-serif;